
.imgrc img{
    height: 340px;
    width: 100%;
}
.imgdetails
{
    text-align: center;
}
.imgdetails p{
    color:black;
    font-weight: 100;
    font-size: 14px;
  
    
   
}
.imgdetails h5{
    padding-top: 20px;
}
.imgdetails #btn
{
    margin-bottom: 4px;
}